@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  font-weight: normal;
  src: url("/fonts/WorkSans[wght].ttf") format("truetype");
}

* {
  font-family: "Work Sans", sans-serif !important;
}